<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>413055212479-r0ug4dffmmuhdjb3k6hnv09h76c3cq8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413055212479-r0ug4dffmmuhdjb3k6hnv09h76c3cq8h</string>
	<key>API_KEY</key>
	<string>AIzaSyD6UcWbELckSxDpOSqcbOcS7LEXCwJ82QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>413055212479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Senegal.KaBase-Update-Contact</string>
	<key>PROJECT_ID</key>
	<string>ka-v3-79a44</string>
	<key>STORAGE_BUCKET</key>
	<string>ka-v3-79a44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413055212479:ios:4f49663819c5257a</string>
	<key>DATABASE_URL</key>
	<string>https://ka-v3-79a44.firebaseio.com</string>
</dict>
</plist>